.chat_input {
    width: 70vw;
    height: 3vh;
    position: absolute;
    bottom: 5vh;
    left: 15vw;
    margin: 0 auto;
}

.input {
    width: 60vw;
    height: 2em;
}

.button {
    width: 5vw;
    height: 2em;
}